<div class="navbar yellowbkground"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ '/' | relative_url }}"><img src="/images/JSL logo transparent.png" class="logo-size" alt="{{ site.title }} "></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/about/' | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/packages/' | relative_url }}">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-bs-toggle="offcanvas"  role="button" aria-controls="contact">Contact</a>
          <!-- <a class="nav-link" href="{{ '/contact/' | relative_url }}">Contact</a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="contact" aria-labelledby="contactLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="contactLabel">Offcanvas</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Contact us:
    </div>

    information here
    <!-- <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->
  </div>
</div>