<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {{site.title}}</title>
   <link rel="stylesheet" href="{{ '/assets/css/bundle.css' | relative_url }}">
</head>
<body>
    {% include navbar.html %}


     <main>
      {{ content }}
    </main>

     <script src="{{ '/assets/js/bundle.js' | relative_url }}"></script>
     <script src="{{ '/assets/js/aos.js' | relative_url }}"></script>
      <script>
          AOS.init({
              duration: 1200,
              once: true,
          });
      </script>
     <!-- <script type="module" src="{{ '/assets/js/main.js' | relative_url }}"></script> -->

    
</body>
</html>